.aboutCard {
    margin: 120px 40px;
    border-top: 1px var(--off-white) solid;
    padding-left: 40px;
}

.techIconContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    height: 150px;
}

.techItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.techIcon {
    width: 75px;
    transition: width .5s;
}

.techName {
    font-size: 20px;
    font-weight: 200;
    transition: font-size .5s;
}

.techItem:hover > .techIcon {
    width: 100px;
    transition: width .5s;
}

.techItem:hover > .techName {
    font-size: 25px;
    transition: font-size .5s;
}


.aboutText {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
} 