.aboutCard {
    margin: 0px 40px 120px 40px;
    padding-left: 40px;
    z-index: 60;
}

.techIconContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90vw;
    margin: 120px auto 0px auto;
}

.techItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    transition: all .5s;
    width: 100px;
}

.techIcon {
    width: 75px;
    padding: 13px 13px 0 13px;
    transition: all .5s;
}

.techName {
    font-size: 20px;
    font-weight: 200;
    transition: all .5s;
}

.techItem:hover > .techIcon {
    width: 100px;
    padding: 0;
    transition: all .5s;
}

.techItem:hover > .techName {
    font-size: 25px;
    transition: all .5s;
}

.techItem:hover {
    padding: 0;
    transition: all .5s;
}

.aboutText {
    text-align: center;
    width: 60%;
    margin: 40px auto;
    font-size: 20px;
    font-weight: 200;
} 

@media (max-width: 950px) {
    .aboutCard {
        padding-left: 0px;
    }
    .aboutText {
        width: 80%;
    }
}
@media (max-width: 480px) {
    .aboutCard {
        margin: 0;
        margin-bottom: 120px;
    }
    .aboutText {
        width: 90%;
    }
}