.contactCard {
    margin: 120px 40px;
    border-top: 1px var(--off-white) solid;
    padding-left: 40px;
    display: grid;
    grid-template-rows: 82px 1fr;
    grid-template-columns: 1fr 1fr;
}

.contactTitle {
    grid-area: 1/1/2/3;
}

.contactText {
    grid-area: 2/1/3/2;
    justify-self: start;
    margin-top: 30px;
    margin-left: 100px;
    width: 50%;
    text-wrap: wrap;
}

.githubIcon {
    grid-area: 2/1/3/2;
    align-self: center;
}

.linkedInIcon {
    grid-area: 3/1/4/2;
}

.emailForm {
    grid-area: 2/2/4/3;
    display: flex;
    flex-direction: column;
}

#name {
    width: 70%;
    padding: 10px;
}

#email {
    width: 70%;
    padding: 10px;
}

#message {
    width: 70%;
    height: 150px;
    padding: 10px;
}

.emailInput {
    margin: 20px;
    background-color: transparent;
    color: var(--text-color);
}

.sendArrow {
    width: 20px;
    transform: rotate(-45deg);
    margin: 0;
    transition: all .3s;
    margin-left: 3px;
    position: relative;
    top: 5px;
}

.sendEmailButton:hover > .sendArrow {
    transform: rotate(0deg);
}
.sendEmailButton {
    width: 100px;
    align-self: start;
    margin-left: 20px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
}

.linkButtons {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
    margin-top: 20px;
}

.contactLink {
    width: 30px;
    margin-bottom: 40px;    
}

.sending {
    animation: rotate 1s linear infinite forwards;
}

.disappear {
    animation: disappear .5s linear 2s 1 forwards;
}

.sentCheck {
    width: 15px;
    margin: 0;
    animation: appear .5s linear  1 forwards;
    margin-left: 8px;
    display: inline;
    position: relative;
    top: 0px
}

.green {
    color: var(--green);
}

.sentButton {
    margin-left: 20px;
    width: 100px;
    text-align: center;
    margin-top: 4px;
}

.sentButton > p {
    display: inline;
    
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from {
        height: 0;
        width: 0;
    }
    to {
        height: 15px;
        width: 15px;
    }
}

@keyframes disappear {
    from {
        height: 20px;
        width: 20px;
    }
    to {
        height: 0;
        width: 0;
    }
}

@keyframes textAppear {
    from {
        width: 0;
    }
    to {
        width: 60px;
    }
}


@media (max-width: 950px) {
    .contactCard {
        grid-template-rows: 82px 100px 35px 1fr;
        grid-template-columns: 100%;
        margin: 120px 0;
        padding: 0;
    }

    .contactText {
        width: 90%;
        margin: 20px auto;
        grid-area: 2/1/3/2;
    }
    .emailForm {
        grid-area: 5/1/6/2;
        justify-self: center;
        width: 100%;
        align-items: center;
    }
    .linkButtons {
        grid-area: 3/1/4/3;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }
    .contactLink{
        margin: 0 10px;
    }
    .sentButton, .sendEmailButton {
        align-self: center;
    }
}

@media (max-width: 480px) {
    .contactTitle {
        margin-left: 40px;
    }
    .contactCard {
        padding: 0;
        border-top: none;

    }
}